http {
  upstream app {
    server {{host}}:5001;
    server {{host}}:5002;
    server {{host}}:5003;
  }

  server {
    listen 80;

    location / {
      proxy_pass http://app;
    }
  }
}

events { }
